body {
  height: 2000px;
  background-image: url(../img/bg.jpg);
  background-repeat: repeat;
  background-size: 1435px 400px;
  color: white;
  text-align: center;
}
#d2 {
  background-color: white;
  width: 800px;
  margin-left: 21.9%;
  padding-top: 40px;
  height: 200px;
}

#d1 {
  height: 15%;
}

#tNoir {
  color: black;
}

#p1 {
  color: gray;
}

#hr1 {
  width: 100px;
}

.p2 {
  color: black;
  text-align: center;
}

#d3 {
  background-color: rgb(244, 244, 244);
  width: 800px;
  margin-left: 21.9%;
  padding-top: 20px;
  height: 400px;
}

#dGen {
  padding: 0.1%;
  height: 600px;
  background-color: rgb(30, 31, 35);
  width: 800px;
  margin-left: 21.9%;
}

#sousD {
  margin-top: 30px;
  background-color: rgb(18, 19, 21);
  height: 140px;
  width: 800px;
}

#divImg {
  display: flex;
}

#txt1 {
  background-color: white;
  color: black;
  height: 400px;
  width: 400px;
  margin: 0;
}

.dd1 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

#p3 {
  color: white;
}

#txt2 {
  background-color: rgb(30, 31, 35);
  height: 400px;
  width: 400px;
}

.tnoir1 {
  color: black;
  margin-top: 80px;
}

#tnoir2 {
  color: white;
  margin-top: 80px;
}

@media screen and (max-width: 375px) {
  h1 {
    margin-left: 90%;
  }
  #pb {
    margin-left: 100%;
  }
  #i1 {
    width: 600px;
    margin-left: 78px;
  }
  #tNoir {
    text-align: center;
    opacity: 0;
  }
  #d3 {
    width: 600px;
  }
  #d2 {
    width: 600px;
  }
  #dGen {
    width: 600px;
  }
  #sousD {
    width: 600px;
  }
  #h111 {
    opacity: 0;
  }
  .dd1 {
    margin-left: 300px;
  }
  #txt1 {
    width: 100vw;
    height: 50%;
  }
  h1 {
    opacity: 0;
  }
}